<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "ezen.dev.spring.cart">

	
	

	<select id="getCartList"  parameterType="Integer" resultType="cartVo">
		<!-- select * from fm_member a inner JOIN fm_product_cart b on a.midx = b.midx_mc inner join fm_product c on a.midx = c.midx_mp where a.midx like #{midx} and p_delyn='N' -->
		<!-- select * from fm_product_cart a inner join fm_member b on a.midx_mc = b.midx inner join fm_product c on a.midx_mc = c.midx_mp where b.midx like #{midx} and p_delyn='N' -->
		select * from fm_product_cart a inner join fm_member b on a.midx_mc = b.midx inner join fm_product c on a.pidx_pc = c.pidx where b.midx like #{midx} and p_delyn='N'
	</select>

    <insert id="addCart" parameterType="cartVo">
		insert into fm_product_cart(p_amount, midx_mc, pidx_pc) 
		 values(#{p_amount}, #{midx_mc}, #{pidx_pc})
	</insert>
    
    <delete id="deleteCartInfo" parameterType="list">
		delete from fm_product_cart where pbidx in 
		<foreach collection="list" item="cartidxList" open="(" separator="," close=")" >
			#{cartidxList}
		</foreach>
	</delete>
	
	<delete id="deleteCartInfoOne" parameterType="Integer">
		delete from fm_product_cart where pbidx = #{pbidx}
	</delete>
	
	<select id="cart_count" parameterType="int" resultType="int">
		select count(*) from fm_product_cart where midx_mc=#{midx}
	</select>
	


</mapper>