<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "ezen.dev.spring.service_center">

<!-- 	<select id="getNoticeInfo" parameterType="String" resultType="noticeVo">
		select * from fm_notice
	</select> -->
	
	<select id="getFaqList" resultType="faqVo">
		select * from fm_faq where f_delyn='N'
	</select>

	<insert id="insertFaq" parameterType="faqVo">
		insert into fm_faq (f_category, f_title, f_content) values(#{f_category},#{f_title},#{f_content})
	</insert>
</mapper>