<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "ezen.dev.spring.service_center">

<!-- 	<select id="getNoticeInfo" parameterType="String" resultType="noticeVo">
		select * from fm_notice
	</select> -->
	
	<select id="getQnaList" resultType="qnaVo">
		select * from fm_qna where q_delyn='N'
	</select>
	
	
	<!-- qna 글쓰기 -->
	<insert id="insertQna" parameterType="qnaVo">
		insert into fm_qna (q_category,q_title,q_content,q_writedate,q_originqidx,q_depth,q_redate,midx_mq) values(#{q_category},#{q_title},#{q_content},#{q_writedate},#{q_originqidx},0,#{q_redate},#{midx_mq})
	</insert>

</mapper>