@charset "UTF-8";

body{
-ms-user-select: none;
-moz-user-select: -moz-none;
-khtml-user-select: none;
-webkit-user-select: none;
user-select: none;
}


#servive_main_inner{
   margin-left:200px;
   min-height:1040px;
   padding-top:178px;
}
   
#service_center_cate{
   
   /* padding-top:200px; */
   width:194px;
   float:left;
}
   

#table_button{
   margin-left: 155px;
   
} 


#servive_main_inner{
   margin-left:324px;
   margin-top: 40px;
   min-height:1040px;
}
   
#td_l{
   width:20%;
}

#stable_1{
   width:50px;
}

#stable_2{
   width:200px;
}

#stable_3{
   width:300px;

}

#stable_4{
   width:400px;
}


#service_board{
   margin-left: 154px;
   min-height:1040px;
}


#faq_detail{
   min-height:1040px;
} 

#faq_main_inner{
   min-height:1040px;
}
   
   
#td_l{
   width:20%;
}

/* faq css 시작 */
.answer {
    display: none;
    padding-bottom: 30px;
    font-size: 13px;
    margin-left: 51px;
  }
  #faq-title {
    font-size: 25px;
  }
  .faq-content {
    border-bottom: 1px solid #e0e0e0;
    width: 920px;
  }
  .question {
    font-size: 13px;
    padding: 30px 0;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
/*     width: 100%; */
    text-align: left;
    padding: 15px;
  }
  
  .question:hover {
    color: #198754;
  }
  [id$="-toggle"] {
    margin-right: 15px;
  }
  #faq_box{
  margin: 182px;
  margin-top: 38px;
  }
  
  /* faq css 끝 */